/* audio clip  */
.audio-container {
  width: 1080px;
  margin: 0 auto;
}

.audio-flex-start {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.audio-flex-between {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.audio-flex-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.audio-flex-end {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: stretch;
}

#audio-header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  border-bottom: solid 1px #efeff4;
  left: 0;
  top: 0;
  z-index: 99999;
}

#audio-header .audio-nav-left {
  width: 660px;
}

#audio-header .audio-nav-left .audio-logo {
  font-size: 25px;
}

#audio-header .audio-nav-left .audio-logo a {
}

#audio-header .audio-nav-left ul {
  padding-top: 10px;
}

#audio-header .audio-nav-left li {
}

#audio-header .audio-nav-left li a {
  font-size: 17px;
  padding: 12px 13px 17px 12px;
  display: block;
}

#audio-header .audio-nav-left li a.active {
  font-weight: 700;
}

#audio-header .audio-nav-left li a span {
  display: inline-block;
  position: relative;
  height: 21px;
}

#audio-header .audio-nav-left li a.active span:after {
  display: block;
  position: absolute;
  content: "";
  border-bottom: solid 3px #222222;
  border-radius: 1.5px;

  z-index: 1;
  left: -4.5px;
  right: -5.5px;
  bottom: -17px;
}

#audio-header .audio-nav-right {
  width: 330px;
}

#audio-header .audio-nav-right .search-wrap {
  width: 180px;
  height: 40px;
  border: solid 2px rgba(0, 86, 201, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
}

#audio-header .audio-nav-right .search-wrap .icon-search {
  width: 40px;
  height: 100%;
  background-color: yellow;
}

#audio-header .audio-nav-right .search-wrap input {
  width: calc(100% - 40px);
  height: 100%;
  padding: 8px 15px;
  font-size: 15px;
  outline: none;
  border: none;
}

#audio-header .audio-nav-right .search-wrap input:focus {
  outline: none;
}

#audio-header .audio-nav-right .profile-wrap .profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

#audio-header .audio-nav-right .profile-wrap .btn-login {
  font-size: 15px;
  padding-left: 8px;
}
